@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
}

.active hr {
    @apply block;
}

::-webkit-scrollbar {
    @apply hidden;
}

@media (max-width: 740px) {
    .active p {
        @apply text-white bg-primary;
    }
}

/* Khôi phục thanh cuộn ngang */
.restore-scrollbar::-webkit-scrollbar {
    display: block !important; /* Bắt buộc hiện */
    height: 8px; /* Độ dày của thanh ngang */
}

/* Màu của cục trượt */
.restore-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1; /* Màu xám nhẹ (tương đương slate-300) */
    border-radius: 10px; /* Bo tròn cho đẹp */
}

/* (Tuỳ chọn) Màu nền đường ray */
.restore-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
